# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo

# 🔥 Model file (35MB — GitHub par mat bhejo, app khud download kar legi)
*.onnx

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db